# Node modules and dependencies
node_modules/

# Logs
aztec/log/

# Binaries
aztec/bin/

# Environment variables
backend/.env

# Docker internal configuration folder
.docker/

# System files
*.DS_Store
Thumbs.db